body {
  background-image: url(https://motionarray.imgix.net/preview-143179-ClMb14CISB-high_0000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1{
  color: #FFFFFF;
    margin: 0 auto;
    font-family: "Arcade", monospace;
    font-size: 90px;
    margin: 2%;
}

nav{
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
nav ul{
  margin: 0;
}
nav li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

}
nav a{
  color: #FFFFFF;
text-decoration: none;
font-family: "Major Mono Display", monospace;
font-size: 20px;
text-align: center;
}
nav a:hover{
  color: coral;
}
header{
background: #303030;
}
.topnav {
  background-color: #460F55;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FFD3FF;
  color: black;
}

.topnav a.active {
  background-color:#AF127B;
  color: white;
}
